.heading-container {
    width: 100%;
}

.get-button {
    text-decoration: none;
    font-weight: bold;
}

.get-button:hover {
    text-decoration: none;
    font-weight: bold;
}

h1{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    color: white;
    font-size: xxx-large;
}